<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}ZilloJs{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">{{ user.name }}</a>
      </div>
    </nav>
    {% block body %} {% endblock %}
    <h4><b>Never gonna give you up</b></h4>
  </body>
</html>
