{% extends "usage/template/base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{! comment !}
{% block body %}
  {% for item in items %}
    <h1>Hello World {{item}}</h1>
  {% endfor %}

  {% if user.age < 21 %}
    <h1>you should not see {{ user.name }}</h1>
    <h1>you should not see this</h1>
    {% if true %}
      <p>bro, You are fbi</p>
    {% endif %}
  {% endif %}
  
  {% loop 3 %}
    {% if true %}
      {% if true %}
      <a href="#">link1</a>
      {% endif %}
      {% if false %}
      <a href="#">link2</a>
      {% endif %}
      <h3>looping boys!{{user.age}}</h3>
    {% endif %}
  {% endloop %}
{% endblock %}
